#info {
    .wrapper {
        background: #eee;
        padding: 20px;
    }

    ul {
        padding-left: 20px;
        li {
            margin-bottom: 15px;
        }
    }
    p {
        margin: 8px 0 24px;
    }
}