.box-simple {

    cursor: pointer;

    transition: all 0.3s;
    &:hover {       
            transform: scale(1.2);   
    }
    
    text-align: center;

    i {
        font-size: 45px;
        color: $secondary-color;
    }
    h3 {
        color: $primary-color;
        font-size: 30px;
        margin: 10px 0;
    }
    p {
        color: #aaa;
    }
    a:hover {
        text-decoration: none;
    }

}