.footer-top {
    background: #333;
    padding: 20px 0;
    h4 {
        margin-bottom: 15px;
    }
    p {
        color: #aaa;
    }
}

.footer-bottom  {
    padding: 5px 0;
    background: black;
    color: #ccc;
}