#fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    
    -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}

header {

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    background: black;
    padding: 35px 0;

    .logo-wrapper {
        img {
            max-height: 40px;
            // margin: 0 10px;  
        }
    }

    .user-wrapper {
        a {
            text-transform: uppercase;
            font-weight: 600;
            margin-left: 10px;    
            transition: all 0.3s;
            &:hover {
                color: lighten($secondary-color, 20%);
                transform: scale(1.2);
            }
        }
    }
}