.bg-lastest {
    background: $primary-color;
    color: white;
}
.bg-active {
    background: lighten($secondary-color, 20);
}
.bg-finished {
    background: #eee;
}
.bg-admin {
    background: rgb(187, 225, 255);
}
