.title-primary {
    color: $primary-color;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
.title-secondary {
    color: $secondary-color;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}